<!--
    https://flatuicolors.com/palette/ru
    https://roadmap.sh/backend
-->
<div class="wrapper" id="svgroadmap">
    <div class="svg-container">
        <svg version="1.1" viewBox="0 0 500 800" preserveAspectRatio="xMinYMin meet" class="svg-content">

            <defs>
                <rect id="myRectCourse" fill="#66cc00" x="0" y="0" ry="3" rx="3" width="130" height="20"
                    class="roadmap-course" />

                <rect id="myRectPractice" fill="#66cc00" x="0" y="0" ry="3" rx="3" width="130" height="20"
                    class="roadmap-practice" />

                <rect id="myRectWIP" fill="#66cc00" x="0" y="0" ry="3" rx="3" width="130" height="20"
                    class="roadmap-wip" />

                <g id="myQuizz" class="roadmap-quizz">
                    <circle cx="65" cy="0" r="20" class="roadmap-quizz-circle" />
                    <text x="65" y="0" font-family="Open Sans Condensed" font-size="10" stroke="none" fill="#f5f3e7"
                        font-weight="900" style="text-transform:uppercase; letter-spacing: 1px"
                        dominant-baseline="middle" alignment-baseline="middle" text-anchor="middle"
                        class="roadmap-quizz-text">Quiz
                    </text>
                </g>

                <g id="myQuizzWIP" class="roadmap-quizz-wip">
                    <circle cx="65" cy="0" r="20" class="roadmap-quizz-circle-wip" />
                    <text x="65" y="0" font-family="Open Sans Condensed" font-size="10" stroke="none" fill="#f5f3e7"
                        font-weight="900" style="text-transform:uppercase; letter-spacing: 1px"
                        dominant-baseline="middle" alignment-baseline="middle" text-anchor="middle"
                        class="roadmap-quizz-text-wip">Quiz
                    </text>
                </g>

                <line class="roadmap-line" id="myLeftArrow" x1="0" x2="-65" y1="10" y2="10" stroke-width="2"
                    stroke="#443c3d" stroke-dasharray="2,1" />

                <line class="roadmap-line" id="myRightArrow" x1="130" x2="195" y1="10" y2="10" stroke-width="2"
                    stroke="#443c3d" stroke-dasharray="2,1" />

                <line class="roadmap-line" id="myLongArrowDown" x1="65" x2="65" y1="20" y2="100" stroke-width="2"
                    stroke="#443c3d" />

                <line class="roadmap-line" id="myMediumArrowDown" x1="65" x2="65" y1="20" y2="60" stroke-width="2"
                    stroke="#443c3d" stroke-dasharray="2,1" />

                <line class="roadmap-line" id="mySmallArrowDown" x1="65" x2="65" y1="20" y2="40" stroke-width="2"
                    stroke="#443c3d" stroke-dasharray="2,1" />

                <g id="myFurtherArrow">
                    <line class="roadmap-line" x1="65" x2="65" y1="20" y2="60" stroke-width="2" stroke="#443c3d"
                        stroke-dasharray="2,1" />
                    <polygon class="roadmap-line" stroke-width="2" stroke="#443c3d" points="60 60, 70 60, 65 75" />
                </g>
            </defs>

            <!-- Start of the roadmap -->

            <g transform="translate(180, 0)">
                <a xlink:href="/introduction" target="_blank">
                    <use xlink:href="#myRectCourse" />
                    <text x="65" y="10" class="roadmap-text">Introduction</text>
                </a>
                <use xlink:href="#myLongArrowDown" />
            </g>

            <g transform="translate(180, 100)">
                <a xlink:href="/dnn" target="_blank">
                    <use xlink:href="#myRectCourse" />
                    <text x="65" y="10" class="roadmap-text">Neural Networks</text>
                </a>
                <use xlink:href="#myRightArrow" />
                <use xlink:href="#myLongArrowDown" />
            </g>

            <g transform="translate(360, 100)">
                <a href="https://deepcourse-epita.netlify.app/notebooks/Backpropagation_Deepcourse.ipynb"
                    target="_blank">
                    <use href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">Backpropagation</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(360, 140)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/Autograd_Deepcourse.ipynb"
                    target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">Autograd</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(360, 200)">
                <a xlink:href="https://ankiweb.net/shared/info/995825215" target="_blank">
                    <use xlink:href="#myQuizz" />
                </a>
            </g>


            <g transform="translate(180, 200)">
                <a xlink:href="/cnn" target="_blank">
                    <use xlink:href="#myRectCourse" />
                    <text x="65" y="10" class="roadmap-text">Images</text>
                </a>
                <use xlink:href="#myLeftArrow" />
                <use xlink:href="#myLongArrowDown" />
            </g>
            <g transform="translate(0, 200)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/Convolutions_Deepcourse.ipynb"
                    target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">Convolutions</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(0, 240)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/CNN_Deepcourse.ipynb" target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">ConvNets</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(0, 280)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/Transfer_Deepcourse.ipynb"
                    target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">Transfer Learning</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(0, 340)">
                <a xlink:href="https://ankiweb.net/shared/info/1887273716" target="_blank">
                    <use xlink:href="#myQuizz" />
                </a>
            </g>


            <g transform="translate(180, 300)">
                <a xlink:href="/multilabels" target="_blank">
                    <use xlink:href="#myRectCourse" />
                    <text x="65" y="10" class="roadmap-text">Multiple Objects</text>
                </a>
                <use xlink:href="#myRightArrow" />
                <use xlink:href="#myLongArrowDown" />
            </g>
            <g transform="translate(360, 300)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/Localization_Deepcourse.ipynb"
                    target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">Localization</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(360, 340)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/Segmentation_Deepcourse.ipynb"
                    target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">Segmentation</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(360, 400)">
                <a xlink:href="https://ankiweb.net/shared/info/925885705" target="_blank">
                    <use xlink:href="#myQuizz" />
                </a>
            </g>

            <g transform="translate(180, 400)">
                <a xlink:href="/lessdata" target="_blank">
                    <use xlink:href="#myRectCourse" />
                    <text x="65" y="10" class="roadmap-text">Less Data</text>
                </a>
                <use xlink:href="#myLeftArrow" />
                <use xlink:href="#myLongArrowDown" />
            </g>
            <g transform="translate(0, 400)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/Metric_Learning_Deepcourse.ipynb"
                    target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">Metric Learning</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(0, 440)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/Domain_Adaptation_Deepcourse.ipynb"
                    target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">Domain Adaptation</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <!--
            <g transform="translate(0, 480)">
                <a xlink:href="">
                    <use xlink:href="#myRectWIP" />
                    <text x="65" y="10" class="roadmap-text">Semi-Supervised</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            -->
            <g transform="translate(0, 500)">
                <a xlink:href="https://ankiweb.net/shared/info/1951991531" target="_blank">
                    <use xlink:href="#myQuizz" />
                </a>
            </g>


            <g transform="translate(180, 500)">
                <a xlink:href="/generative" target="_blank">
                    <use xlink:href="#myRectCourse" />
                    <text x="65" y="10" class="roadmap-text">Generative</text>
                </a>
                <use xlink:href="#myRightArrow" />
                <use xlink:href="#myLongArrowDown" />
            </g>
            <g transform="translate(360, 500)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/VAE_Deepcourse.ipynb" target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">VAE</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(360, 540)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/GAN_Deepcourse.ipynb" target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">GAN</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <!--
            <g transform="translate(360, 580)">
                <a xlink:href="">
                    <use xlink:href="#myRectWIP" />
                    <text x="65" y="10" class="roadmap-text">Style Transfer</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            -->
            <g transform="translate(360, 600)">
                <a xlink:href="https://ankiweb.net/shared/info/455922580" target="_blank">
                    <use xlink:href="#myQuizz" />
                </a>
            </g>


            <g transform="translate(180, 600)">
                <a xlink:href="/archi" target="_blank">
                    <use xlink:href="#myRectCourse" />
                    <text x="65" y="10" class="roadmap-text">New Archi</text>
                </a>
                <use xlink:href="#myLeftArrow" />
                <use xlink:href="#myFurtherArrow" />
            </g>
            <g transform="translate(0, 600)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/Transformer_Deepcourse.ipynb"
                    target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">Transformers</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(0, 640)">
                <a xlink:href="https://deepcourse-epita.netlify.app/notebooks/MLP_Mixer_Deepcourse.ipynb"
                    target="_blank">
                    <use xlink:href="#myRectPractice" />
                    <text x="65" y="10" class="roadmap-text">MLP-Mixer</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(0, 700)">
                <a xlink:href="https://ankiweb.net/shared/info/2092706446" target="_blank">
                    <use xlink:href="#myQuizz" />
                </a>
            </g>

            <!--
            <g transform="translate(180, 680)">
                <a xlink:href="">
                    <use xlink:href="#myRectWIP" />
                    <text x="65" y="10" class="roadmap-text">Robustness</text>
                </a>
                <use xlink:href="#myRightArrow" />
                <use xlink:href="#myLongArrowDown" />
            </g>
            <g transform="translate(360, 680)">
                <a xlink:href="">
                    <use xlink:href="#myRectWIP" />
                    <text x="65" y="10" class="roadmap-text">Adversarial</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(360, 720)">
                <a xlink:href="">
                    <use xlink:href="#myRectWIP" />
                    <text x="65" y="10" class="roadmap-text">Uncertainty</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>
            <g transform="translate(360, 780)">
                <a xlink:href="">
                    <use xlink:href="#myQuizzWIP" />
                </a>
            </g>


            <g transform="translate(180, 760)">
                <a xlink:href="">
                    <use xlink:href="#myRectWIP" />
                    <text x="65" y="10" class="roadmap-text">Misc</text>
                </a>
                <use xlink:href="#myLeftArrow" />
                <use xlink:href="#myFurtherArrow" />
            </g>
            <g transform="translate(0, 760)">
                <a xlink:href="">
                    <use xlink:href="#myRectWIP" />
                    <text x="65" y="10" class="roadmap-text">Continual</text>
                </a>
                <use xlink:href="#mySmallArrowDown" />
            </g>

            <g transform="translate(0, 820)">
                <a xlink:href="">
                    <use xlink:href="#myQuizzWIP" />
                </a>
            </g>
            -->

        </svg>
    </div>
</div>


<script>
    let wrapper = document.getElementById("svgroadmap");
    let textNodes = wrapper.getElementsByTagName("text");

    for (let i = 0; i < textNodes.length; i++) {
        textNodes[i].setAttribute("dominant-baseline", "middle");
        textNodes[i].setAttribute("alignment-baseline", "middle");
        textNodes[i].setAttribute("text-anchor", "middle");
        textNodes[i].setAttribute("font-size", "10");
        textNodes[i].setAttribute("font-weight", "900");
        textNodes[i].setAttribute("stroke", "none");
    }
</script>

<style>
    @media (max-width: 639px) {
        .wrapper {
            padding: 0px 0px;
            --max-width: 1200px;
            min-height: 475px;
        }
    }

    @media (min-width: 639px) and (max-width: 1366px) {
        .wrapper {
            padding: 0px 0px;
            --max-width: 1200px;
            min-height: 1050px;
        }
    }

    @media (min-width: 1365px) {
        .wrapper {
            padding: 0px 0px;
            --max-width: 1200px;
            min-height: 1250px;
        }
    }

    .wrapper text {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: "Open Sans Condensed";

        fill: #f5f3e7;
    }

    .roadmap-course,
    .roadmap-practice {
        -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));
    }

    .roadmap-course {
        fill: #f5cd79;
        color: #f5f5f5
    }

    .roadmap-quizz-circle {
        stroke: #e15f41;
        fill: none;
    }

    .roadmap-quizz-wip,
    .roadmap-quizz-circle-wip {
        fill: lightgray;
    }

    .roadmap-quizz:hover .roadmap-quizz-circle {
        stroke: none;
        fill: #e15f41;
    }

    .roadmap-quizz-text {
        stroke: none;
        fill: #e15f41;
    }

    .roadmap-quizz:hover .roadmap-quizz-text {
        stroke: none;
        fill: #f5f5f5;
    }

    .roadmap-quizz:hover {
        fill: #e15f41;
        color: #f5f5f5
    }

    .roadmap-practice {
        fill: #f19066;
        color: #f5f5f5
    }

    .roadmap-wip {
        fill: lightgray;
        color: black;
    }

    .roadmap-line {}

    .roadmap-line {
        stroke: rgba(0, 0, 0, 0.6);
    }

    #svgroadmap a:hover {
        stroke: rgba(0, 0, 0, 0.88);
        stroke-width: 1px;
    }

    .svg-container {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        vertical-align: middle;
        overflow: visible;
    }

    .svg-content {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
    }

    #svgroadmap line:not(.dark) {
        stroke: rgba(0, 0, 0, 0.88);
    }

    #svgroadmap line.dark {
        stroke: blue;
    }
</style>



{{- /* theme-toggle is enabled */}}
{{- if (not .Site.Params.disableThemeToggle) }}
{{- /* theme is light */}}
{{- if (eq .Site.Params.defaultTheme "light") }}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        let rects = document.getElementById("svgroadmap").getElementsByTagName("rect");
        for (let i = 0; i < rects.length; i++) {
            rects[i].classList.add('dark');
        }
    }
</script>
{{- /* theme is dark */}}
{{- else if (eq .Site.Params.defaultTheme "dark") }}
<script>
    if (localStorage.getItem("pref-theme") === "light") {
        let rects = document.getElementById("svgroadmap").getElementsByTagName("rect");
        for (let i = 0; i < rects.length; i++) {
            rects[i].classList.remove('dark');
        }
    }
</script>
{{- else }}
{{- /* theme is auto */}}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        let rects = document.getElementById("svgroadmap").getElementsByTagName("rect");
        for (let i = 0; i < rects.length; i++) {
            rects[i].classList.add('dark');
        }
    } else if (localStorage.getItem("pref-theme") === "light") {
        let rects = document.getElementById("svgroadmap").getElementsByTagName("rect");
        for (let i = 0; i < rects.length; i++) {
            rects[i].classList.remove('dark');
        }
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        let rects = document.getElementById("svgroadmap").getElementsByTagName("rect");
        for (let i = 0; i < rects.length; i++) {
            rects[i].classList.add('dark');
        }
    }

</script>
{{- end }}
{{- /* theme-toggle is disabled and theme is auto */}}
{{- else if (and (ne .Site.Params.defaultTheme "light") (ne .Site.Params.defaultTheme "dark"))}}
<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}


<script>
    let switchColor = function (className) {
        let elts = document.getElementsByClassName(className);
        for (let i = 0; i < elts.length; i++) {
            if (elts[i].classList.contains("dark")) {
                elts[i].classList.remove("dark");
            } else {
                elts[i].classList.add("dark");
            }
        }
    };

    document.getElementById("theme-toggle").addEventListener("click", () => {
        switchColor("roadmap-course");
        switchColor("roadmap-practice");
        switchColor("roadmap-quizz");
        switchColor("roadmap-line");
    })
</script>