<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<title>Deep Neural Network | DeepCourse</title>


<meta name="keywords"
    content="Deep Learning, Python, Artificial Intelligence, Computer Vision, Transformer, Convolution, Convolutional Neural Networks, CNN, Course, Projects, pdf">
<meta name="description" content="Click to reveal answer">
<meta name="author" content="Edouard Yvinec">
<link rel="canonical" href="../../quiz/dnn/" />
<link href="../../assets/css/stylesheet.min.fd6f7ac48616e098ea33c16c91056e6a2ae6dbc7d4eef23bc2e2770f1bf4f9af.css"
    integrity="sha256-/W96xIYW4JjqM8FskQVuairm28fU7vI7wuJ3Dxv0&#43;a8=" rel="preload stylesheet" as="style">


<script defer src="../../assets/js/addon.min.js" as="script"></script>

<script defer src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js"></script>



<link rel="icon" href="../../favicon.ico">

<meta name="theme-color" content="#2e2e33">
<meta name="msapplication-TileColor" content="#2e2e33">
<meta name="generator" content="Hugo 0.101.0" />

<script type="application/javascript">
    var doNotTrack = false;
    if (!doNotTrack) {
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-102629480-1', 'auto');

        ga('send', 'pageview');
    }
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<meta property="og:title" content="Deep Neural Network" />
<meta property="og:description" content="Click to reveal answer" />
<meta property="og:type" content="article" />
<meta property="og:url" content="/quiz/dnn/" />
<meta property="article:section" content="quiz" />



<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Deep Neural Network" />
<meta name="twitter:description" content="Click to reveal answer" />


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [, 
    {
      "@type": "ListItem",
      "position":  2 ,
      "name": "quizzes",
      "item": "/quiz/"
    }, 
    {
      "@type": "ListItem",
      "position":  3 ,
      "name": "Deep Neural Network",
      "item": "/quiz/dnn/"
    }
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "Deep Neural Network",
  "name": "Deep Neural Network",
  "description": "Click to reveal answer",
  "keywords": [
    
  ],
  "articleBody": " Click to reveal answer\n",
  "wordCount" : "4",
  "inLanguage": "en",
  "datePublished": "0001-01-01T00:00:00Z",
  "dateModified": "0001-01-01T00:00:00Z",
  "author":{
    "@type": "Person",
    "name": "Edouard Yvinec"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "/quiz/dnn/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "DeepCourse",
    "logo": {
      "@type": "ImageObject",
      "url": "/favicon.ico"
    }
  }
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" charset="utf-8"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>

<noscript>
    <style type="text/css">
        .theme-toggle,
        .top-link {
            display: none;
        }
    </style>
</noscript>
<header class="header">
    <nav class="nav">
        <div class="logo">

            <a href="https://deepcourse-epita.netlify.app/" accesskey="h">DeepCourse</a>
            <span class="logo-switches">

            </span>
        </div>
        <ul class="menu" id="menu" onscroll="menu_on_scroll()">
            <li>
                <a href="about/">
                    <span>
                        About
                    </span>
                </a>
            </li>
            <li class="github-link">
                <a href="https://gitlab.com/ey_datakalab/course_epita">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                            </path>
                        </svg>
                    </span>
                </a>
            </li>

        </ul>
    </nav>
</header>
<section>
    <h2 style="text-align: center">Quiz: Deep Neural Network</h2>
    <div class="row ankiapp" id="ankiapp-1">
        <div class="col-md-2 offset-md-1 card-button previous-button" id="previous-button-1" style="visibility: hidden">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left"
                class="svg-inline--fa fa-arrow-left fa-w-14 quiz-arrow" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path fill="currentColor"
                    d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z">
                </path>
            </svg>
        </div>
        <div class="col-md-6 anki" id="anki-1">
            <div id="card-1">
                <div class="card-front" id="card-front-1"></div>
                <p class="card-helper" id="card-helper-1">Click to reveal answer</p>
                <div class="card-global-back" id="card-global-back-1">
                    <div class="card-back" id="card-back-1"></div>
                    <div class="card-details1" id="card-details1-1"></div>
                    <div class="card-details2" id="card-details2-1"></div>
                    <div class="card-image" id="card-image-1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2 offset-md-1 card-button after-button" id="after-button-1" style="visibility: hidden">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right"
                class="svg-inline--fa fa-arrow-right fa-w-14 quiz-arrow" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path fill="currentColor"
                    d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">
                </path>
            </svg>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            launchQuiz(
                "Introduction to Deep Learning",
                eval("[\n    {Front: \"What are the two passes done in a neural network?\", Back: \"Forward and backward passes\"},\n    {Front: \"What is the formula of a single neuron?\", Back: \"\\\\(f(x) = w x + b\\\\)\"},\n    {Front: \"What is the shape of \\\\(w\\\\) in a single neuron?\", Back: \"Vector of shape (Nb_input_dims)\"},\n    {Front: \"What is the shape of \\\\(b\\\\) in a single neuron?\", Back: \"Scalar value\"},\n    {Front: \"What is the shape of \\\\(W\\\\) in a hidden layer\", Back: \"Matrix of shape (Nb_hidden_dims x Nb_input_dims)\"},\n    {Front: \"What is the shape of \\\\(b\\\\) in a hidden layer\", Back: \"Vector of shape (Nb_hidden_dims)\"},\n    {Front: \"Why do we use non-linear activation in Multi-Layer Perceptron?\", Back: \"To separate non-linear problems. And stacking multiple layers without activation is mathematically equivalent to a single layer.\"},\n    {Front: \"Name some non-linear activations?\", Back: \"Sigmoid, tanh, ReLU\"},\n    {Front: \"What is the ReLU formula?\", Back: \"\\\\(max(0, x)\\\\)\"},\n    {Front: \"What is the Sigmoid formula?\", Back: \"\\\\(\\\\frac{1}{1 + e^{-x}}\\\\)\"},\n    {Front: \"What is the problem of the sigma in backpropagation?\", Back: \"The signal can vanish because sigmoid is satured at both extremum\"},\n    {Front: \"What is the Sigmoid formula?\", Back: \"\\\\(\\\\frac{1}{1 + e^{-x}}\\\\)\"},\n    {Front: \"What is the usual classification loss?\", Back: \"Cross entropy: \\\\(-\\\\Sigma_i y_i \\\\log \\\\hat{y}_i\\\\)\"},\n    {Front: \"What happens if the learning rate is too high?\", Back: \"The network risks to diverge\"},\n    {Front: \"What happens if the learning rate is too low?\", Back: \"The network risks to fall in bad local minima or converging too slowly\"},\n    {Front: \"What is the difference between Batch Gradient Descent and Stochastic Gradient Descent?\", Back: \"1: The whole dataset goes through the model at once. 2: One sample at the time goes through the model\"},\n]"),
                false,
                1,
                false
            );
        });
    </script>


</section>

<footer class="footer">
    <span>&copy; 2022 <a href="">DeepCourse</a></span>
    <span>
        Powered by
        <a href="https://gohugo.io/" rel="noopener noreferrer" target="_blank">Hugo</a> &
        <a href="https://github.com/adityatelange/hugo-PaperMod/" rel="noopener" target="_blank">PaperMod</a>
    </span>
</footer>
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
        <path d="M12 6H0l6-6z" />
    </svg>
</a>

<script>
    let menu = document.getElementById('menu')
    if (menu) {
        menu.scrollLeft = localStorage.getItem("menu-scroll-position");
        menu.onscroll = function () {
            localStorage.setItem("menu-scroll-position", menu.scrollLeft);
        }
    }

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener("click", function (e) {
            e.preventDefault();
            var id = this.getAttribute("href").substr(1);
            if (!window.matchMedia('(prefers-reduced-motion: reduce)').matches) {
                document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView({
                    behavior: "smooth"
                });
            } else {
                document.querySelector(`[id='${decodeURIComponent(id)}']`).scrollIntoView();
            }
            if (id === "top") {
                history.replaceState(null, null, " ");
            } else {
                history.pushState(null, null, `#${id}`);
            }
        });
    });

</script>
<script>
    var mybutton = document.getElementById("top-link");
    window.onscroll = function () {
        if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
            mybutton.style.visibility = "visible";
            mybutton.style.opacity = "1";
        } else {
            mybutton.style.visibility = "hidden";
            mybutton.style.opacity = "0";
        }
    };

</script>